h1{
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px 0px 30px 0px;
    font-size: 50px;
}
.title{
    color: #da0b0b;
}
@media only screen and (max-width: 600px) {
        h1{
            font-size: 30px;
            margin:0;
            margin-bottom: -140px;
        }
   }
  
   /* Small devices (portrait tablets and large phones, 600px and up) */
   @media only screen and (min-width: 600px) and (max-width: 992px) {
    h1{
        font-size: 70px;
        margin-bottom: -120px;
    }
   }
   
   /* Large devices (laptops/desktops, 992px and up) */
   @media only screen and (min-width: 992px) and (max-width:1440px) {
    h1{
        font-size: 80px;
        margin-bottom: -80px;
    }
   }
   
   /* Extra large devices (large laptops and desktops, 1200px and up) */
   @media only screen and (min-width: 1921px) {
    .title{
        font-size: 4rem;
    }
   }

   @media only screen and (min-width: 3840px) {
.title{
font-size: 15rem;
}  
}

