@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spectral SC', serif;
}
.main{
    padding: 100px;
    color: white;
}
.hero{
    display: flex;
    justify-content: space-between;
    
  
}
.info-one{
    display: flex;
    flex-direction: column;
    margin:0px 50px 0px 50px;
}
.info-two{
    display: flex;
    flex-direction: column;
    margin:0px 50px 0px 30px;
}
.hero h3{
    font-size: 50px;
    margin: 40px;
}
.planet-name{
    font-size: 3rem;
    padding: 0px 0px 70px 0px;
    display: flex;
    justify-content: space-between;
}

.planet-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    transition: all 2s ease;

}
.planet-image img{
    width: 450px;
    overflow: hidden;
}
.planet-image:hover{
    scale: 1.1;
}


.planet-temp{
  max-width: 400px;
 
}

.planet-image-effect{
  -webkit-animation: spin 100s linear infinite;
  animation: spin 100s linear infinite;

}


/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  .example{
    margin-top: 20px;
  }
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  } 
  .dot-pulse {
    position: relative;
    left: -9999px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ffffff;
    box-shadow: 9999px 0 0 -5px #ffffff;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
  }
  
  .dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ffffff;
  }
  
  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #ffffff;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
  }
  
  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #ffffff;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
  }

  /* Animations */
  
  @keyframes dotPulseBefore {
    0% {
      box-shadow: 9984px 0 0 -5px #ffffff;
    }
    30% {
      box-shadow: 9984px 0 0 2px #ffffff;
    }
    60%,
    100% {
      box-shadow: 9984px 0 0 -5px #ffffff;
    }
  }
  
  @keyframes dotPulse {
    0% {
      box-shadow: 9999px 0 0 -5px #ffffff;
    }
    30% {
      box-shadow: 9999px 0 0 2px #ffffff;
    }
    60%,
    100% {
      box-shadow: 9999px 0 0 -5px #ffffff;
    }
  }
  
  @keyframes dotPulseAfter {
    0% {
      box-shadow: 10014px 0 0 -5px #ffffff;
    }
    30% {
      box-shadow: 10014px 0 0 2px #ffffff;
    }
    60%,
    100% {
      box-shadow: 10014px 0 0 -5px #ffffff;
    }
  }

 
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  
  }
  