
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    padding: 100px;
    color: white;
}
.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
  
}
.info-one{
    display: flex;
    flex-direction: column;
    margin:0px 50px 0px 50px;
}
.info-two{
    display: flex;
    flex-direction: column;
    margin:0px 50px 0px 30px;
}
.hero h3{
    font-size: 50px;
    margin: 40px;
}
.planet-name{
    font-size: 3rem;
    padding: 0px 0px 70px 0px;
    display: flex;
    justify-content: space-between;
}
.planet-name button{

}
.planet-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    transition: all 1s ease;

}
.planet-image img{
    width: 450px;
    overflow: hidden;
}
.planet-image:hover{
    scale: 1.1;
}
/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  } 